*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif
}

#profileImage img{
    max-height: 450px;
    width: auto;
}

#aboutSection img{
    width: 30px;
    height: auto;
}

#cardStack img{
    width: 25px;
    height: auto;
}

#contactInformation .phoneNumber img, #contactInformation .email img {
    width: auto;
    height: 30px;
    -webkit-filter:invert(100%);
}

#contactInformation .links img{
    width: 35px;
    height: auto;
    padding: 5px;
}

#footerImage img{
    max-width:500px;
    height: auto;
}

header{
    padding:3em;
    display:flex;
    background: rgb(33,135,175);
    background: linear-gradient(145deg, rgba(33,135,175,1) 0%, rgba(255,255,255,1) 50%);
}

#profileImage{
    color:white;
    font-size: 50px;
    position:relative;
}

#myName{
    position:absolute;
    bottom: 20px;
    left: 10px;
}

#aboutSection{
    border: 1px solid rgb(202, 199, 199);
    background-color: white;
    display:flex;
    flex-direction: column;
    max-width: 500px;
    gap: 15px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 60px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#aboutSection .content{
    line-height: 1.5;
}

#aboutSection .links{
    display:flex;
    justify-content: end;
    gap: 10px;
}

#card1, #card2, #card3, #card4, #card5, #card6{
    border: 1px solid rgb(202, 199, 199);
    max-width: 300px;
    min-width:250px;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#card1 .screenshot{
    background-color: rgb(150, 22, 22);
}
#card2 .screenshot{
    background-color: rgb(106, 84, 204);
}
#card3 .screenshot{
    background-color: rgb(150, 90, 150);
}
#card4 .screenshot{
    background-color: rgb(196, 132, 14);
}
#card5 .screenshot{
    background-color: rgb(106, 84, 204);
}
#card6 .screenshot{
    background-color: rgb(13, 104, 13);
}

.screenshot{
    grid-area: 1/1/7/3;
    color: white;
    font-size: 40px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.cardTitle, .cardLinks, .cardContent{
    padding:10px;
}

.cardTitle{
    grid-area: 7/1/8/2;
    font-weight: 400;
    font-size: 22px;
}

.cardLinks{
    grid-area: 7/2/8/3;
    display:flex;
    justify-content: end;
    gap: 10px;
}

.cardContent{
    grid-area: 8/1/11/3;
    color: rgb(80, 78, 78);
}

main {
    padding: 3em;
}

#cardStack{
    display:flex;
    flex-wrap: wrap;
    gap: 40px 20px;
    justify-content: center;
    min-width:380px;
}

footer{
    background-color: rgb(33, 135, 175);
    display:flex;
    align-content:center;
    gap:40px;
    padding-left: 3em;
    padding-top: 3em;
    padding-bottom: 3em;
    color: white;
}

#contactInformation{
    
}

#aboutSection .title, main .title, #contactInformation .title{
    font-size: 35px;
    padding-bottom: 10px;
}

#contactInformation .phoneNumber, #contactInformation .email{
   display:flex;
   gap: 10px;
   align-items: center;
}

@media(max-width:1400px){

}

@media (max-width:1050px){
    header{
        padding:1em;
    }
    #myName{
        position:absolute;
        top:0px;
        left: 160px;
    }
    #profileImage{
        float:left;
        position:relative;
    }
    #aboutSection{
        margin-top: 150px;
        min-height: 500px;
        min-width: 500px;
    }
    #footerImage img{
        object-fit: cover;
        height: 334px;
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    header{
        flex-wrap: wrap;
        padding: 1em;
        justify-content: center;
    }
    #myName{
        position:absolute;
        top: 390px;
        left: 80px;
    }
    #aboutSection{
        border:none;
        box-shadow:none;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    main{
        padding: 1em;
    }
    footer{
        flex-wrap: wrap;
        padding: 1em;
        justify-content: center;
    }
    #footerImage img{
        max-width: 360px;
        object-fit: cover;
        height: 334px;
        width: 100%;
    }
}
